<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>eKiss.vn</title>
    <meta name="description" content="my pham, mỹ phẩm, lam dep, làm đẹp, trang điểm, trang diem, mỹ phẩm hàn quốc, mỹ phẩm hàng hiệu">
    <meta name="viewport" content="width=device-width">
    <link href="images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="styles/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="styles/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="styles/owl.transitions.css">
    <link rel="stylesheet" type="text/css" href="styles/common.css">
    <link rel="stylesheet" type="text/css" href="styles/reponsive.css">
    <link rel="stylesheet" type="text/css" href="styles/transition.css">
</head>

<body>
    <header class="container">
        <div class="col-md-3 logo-ctn">
            <a class="logo" href="/"></a>
        </div>
        <div class="col-md-9 menu-ctn">
            <div class="navbar navbar-default main-menu">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <div class="row top-menu">
                        <div class="col-md-9">
                            <ul class="noneul">
                                <li class="noneli">
                                    <a href="/dang-nhap">Đăng nhập</a>
                                </li>
                                <li class="noneli">
                                    <a href="/dang-ky">Tạo tài khoản</a>
                                </li>
                                <li class="noneli">
                                    <a href="/chinh-sach-bao-mat">Chính sách bảo mật thông tin</a>
                                </li>
                                <li class="noneli">
                                    <a href="/gio-hang">Giỏ hàng</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <form action="/search" method="GET">
                                <input type="text" name="keyword" class="txt-search" placeholder="Tìm kiếm ..." />
                                <label class="btn-search">
                                    <a class="glyphicon glyphicon-search"></a>
                                </label>
                            </form>
                        </div>
                    </div>
                    <nav class="nav-menu">
                        <ul class="noneul main-menu">
                            <li class="noneli homeli selected">
                                <a href="/" class="glyphicon glyphicon-home"></a>
                            </li>
                            <!-- 
                     -->
                            <li class="noneli">
                                <a href="/gioi-thieu">Giới thiệu</a>
                            </li>
                            <!-- 
                     -->
                            <li class="noneli">
                                <a href="/huong-dan-mua-hang">Hướng dẫn mua hàng</a>
                            </li>
                            <!-- 
                     -->
                            <li class="noneli">
                                <a href="/hinh-thuc-thanh-toan">Hình thức thanh toán</a>
                            </li>
                            <!-- 
                     -->
                            <li class="noneli">
                                <a href="/lien-he">Liên hệ</a>
                            </li>
                            <!-- 
                     -->
                            <li class="noneli">
                                <a href="/blog">Blog</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="items wrap-category">
            <div class="category">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li><a href="#">Bao Cao Su</a>
                    </li>
                    <li class="active">Durex</li>
                </ol>
                <div class="items-category">
                    <div class="item">
                        <div class="thumb">
                            <img src="images/thumb-sample.png" />
                        </div>
                        <div class="name">Crewneck Coat</div>
                        <div class="price">125.000 đ
                            <div class="cart-wrap">
                                <button class="btnAddCart">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>Giỏ hàng</button>
                                <button class="btnCheckOut">
                                    <span class="glyphicon glyphicon-usd"></span>Mua</button>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="images/thumb-sample.png" />
                        </div>
                        <div class="name">Crewneck Coat</div>
                        <div class="price">125.000 đ
                            <div class="cart-wrap">
                                <button class="btnAddCart">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>Giỏ hàng</button>
                                <button class="btnCheckOut">
                                    <span class="glyphicon glyphicon-usd"></span>Mua</button>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="images/thumb-sample.png" />
                        </div>
                        <div class="name">Crewneck Coat</div>
                        <div class="price">125.000 đ
                            <div class="cart-wrap">
                                <button class="btnAddCart">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>Giỏ hàng</button>
                                <button class="btnCheckOut">
                                    <span class="glyphicon glyphicon-usd"></span>Mua</button>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="images/thumb-sample.png" />
                        </div>
                        <div class="name">Crewneck Coat</div>
                        <div class="price">125.000 đ
                            <div class="cart-wrap">
                                <button class="btnAddCart">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>Giỏ hàng</button>
                                <button class="btnCheckOut">
                                    <span class="glyphicon glyphicon-usd"></span>Mua</button>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="images/thumb-sample.png" />
                        </div>
                        <div class="name">Crewneck Coat</div>
                        <div class="price">125.000 đ
                            <div class="cart-wrap">
                                <button class="btnAddCart">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>Giỏ hàng</button>
                                <button class="btnCheckOut">
                                    <span class="glyphicon glyphicon-usd"></span>Mua</button>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="images/thumb-sample.png" />
                        </div>
                        <div class="name">Crewneck Coat</div>
                        <div class="price">125.000 đ
                            <div class="cart-wrap">
                                <button class="btnAddCart">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>Giỏ hàng</button>
                                <button class="btnCheckOut">
                                    <span class="glyphicon glyphicon-usd"></span>Mua</button>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="images/thumb-sample.png" />
                        </div>
                        <div class="name">Crewneck Coat</div>
                        <div class="price">125.000 đ
                            <div class="cart-wrap">
                                <button class="btnAddCart">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>Giỏ hàng</button>
                                <button class="btnCheckOut">
                                    <span class="glyphicon glyphicon-usd"></span>Mua</button>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumb">
                            <img src="images/thumb-sample.png" />
                        </div>
                        <div class="name">Crewneck Coat</div>
                        <div class="price">125.000 đ
                            <div class="cart-wrap">
                                <button class="btnAddCart">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>Giỏ hàng</button>
                                <button class="btnCheckOut">
                                    <span class="glyphicon glyphicon-usd"></span>Mua</button>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-pagination">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a>
                            </li>
                            <li><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row futures">
            <div class="col-md-4">
                <div class="rotate future">
                    <div class="front">
                        <a href="qua-tang" class="gift"></a>
                        <div class="title">Gói Quà Tặng</div>
                        <div class="subtitle">miễn phí với đơn hàng trên 300k</div>
                    </div>
                    <div class="back">Hello</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rotate future">
                    <div class="front">
                        <a href="giao-hang" class="shipping"></a>
                        <div class="title">Giao Hàng Toàn Quốc</div>
                        <div class="subtitle">miễn phí với đơn hàng trên 500k</div>
                    </div>
                    <div class="back">Hello</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rotate future">
                    <div class="front">
                        <a href="thanh-toan#hoan-tra" class="payment-back"></a>
                        <div class="title">Hoàn Trả Lại Tiền</div>
                        <div class="subtitle">10am - 8pm các ngày trong tuần</div>
                    </div>
                    <div class="back">Hello</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="container footer">
        <div class="row">
            <div class="col-md-4 about-us">
                <div class="title">Về chúng tôi</div>
                <div class="value">Điều này chứng tỏ Trung Quốc quyết tâm triển khai cuộc xâm lăng kiểu mới. Họ không thể biện hộ cho việc này bởi mọi hành vi đều thể hiện đó là một cuộc xâm lược mềm. Trung Quốc dùng mọi biện pháp buộc Việt Nam phải đối phó trên nhiều mặt trận. Họ hạ đặt giàn khoan trái phép, xây dựng đường băng ở đảo Gạc Ma, điều giàn khoan Nam Hải 09 đến cửa vịnh Bắc Bộ, tăng cường hoạt động ngăn cản gây thiệt hại lớn cho</div>
                <div class="site-map">
                    <i class="fa fa-mail-forward"></i><a href="/site-map">Site map</a>
                </div>
            </div>
            <div class="col-md-4 contact">
                <div class="title">Liên hệ</div>
                <div class="value phone">
                    <i class="fa fa-mobile" title="Di động"></i>
                    <span>+84 973.867.600</span>
                </div>
                <div class="value mail">
                    <span class="glyphicon glyphicon-envelope" title="Email"></span>seller@ekiss.vn
                </div>
                <div class="value skype">
                    <i class="fa fa-skype" title="Skype"></i>
                    <span>nguyentuyet2807</span>
                </div>
                <div class="value yahoo">
                    <i class="fa fa-yahoo" title="Yahoo">!</i>
                    <span>nguyentuyet2807</span>
                </div>
            </div>
            <div class="col-md-4 face-like-box">
                <div class="title">Facebook</div>
                <iframe id="iframe-facebook" allowtransparency="true" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Flamdepdaily&amp;width=300&amp;height=258&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" style="border:none; overflow:hidden; width:300px; height:258px;"></iframe>
            </div>
        </div>
    </footer>

    <script src="scripts/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="scripts/modernizr-2.6.2-respond-1.1.0.min.js" type="text/javascript"></script>
    <script src="scripts/owl.carousel.min.js" type="text/javascript"></script>
    <script src="scripts/main.js" type="text/javascript"></script>
</body>

</html>
